.login-pf body {
  background-color: rgb(0, 169, 224);
  background-image: none;
  background-size: cover;
  height: 100%;
}

#kc-header-wrapper {
  background-color: #ffffff;
}

div.kc-logo-text {
  background-color: #ffffff;
  background-image: url(../img/iog-logo.png);
  background-repeat: no-repeat;
  height: 106px;
  width: 209px;
  margin: 0 auto;
}
