.message{
    margin-bottom: .5em;
    padding: 1.25em;
}

.info {
   font-weight: bold;
   color: #F5F5F5;
   background-color: #00C853;
}

.warning {
   font-weight: bold;
   color: #F5F5F5;
   background-color: #FF9100;
}

.error {
   font-weight: bold;
   color: #F5F5F5;
   background-color: #E64A19;
}

#fetchURL {
    display: none;
}
